<div class="display block">
		<%  user = User.find(f.user_id)%>
		<%= link_to({:controller=>'users', :action =>'show'}, :id=>f.user_id) do%>
			<%= user.name %><br />
			<%= image_tag user.image_url.to_s, :size => '150x150' %><br />
		<%end%>
		<table>
			<tr>
				<th> kosher?</th>
				<td><%=user.kosher?%></td>
			</tr>
			<tr>
				<th>status</th>
				<td><%=f.coming%></td>
			</tr>
	
		</table>
		f.hidden_field :_destroy
		<%=link_to_function("remove","remove_fields(this)")%>
</div>	
